@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration:none;
    list-style:none;
}

::root{
    --primary-color:color: rgb(58, 58, 58);
    --secondary-color:color: rgb(120, 120, 133);
   --bg-color:linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}

.flex{
    display:flex;
}


/* -----------------header-section------------------ */
.navbar{
    justify-content:space-between;
    padding:3.2rem 12%;
}

.navbar .brand-name .logo{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.125rem;
}

.nav-menu{
    gap:2rem;
}
.nav-menu a{
    color:var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

/* ---------------------hero-section-------------------- */
.hero-area{
    align-items:center;
    justify-content:center;
    gap:8.5rem;
}

.hero-title{
    color:var(--primary-color);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
}

.hero-sub-title{
    margin: 1rem 0 2rem 0;
    color:var(--primary-color);
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.hero-text button{
    background:none;
    border:none;
}

.global-btn{
    background-color:#E02C6D;
    color:#fff;
    padding:.6rem 1.5rem;
    border-radius:3.2rem;
    margin-right:.6rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.global-btn span{
    margin-left:.6rem;
}

.hero-image{
    background:url(../images/Circle\ design.svg);
}


/* --------------------company-section--------------------- */
.company-section{
    max-width:1110px;
    margin:6.5rem auto;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    padding:.1rem 0rem;
}

.company-area{
    justify-content:center;
    align-items:center;
    gap:4rem;
    background:#fff;
    padding:2.2rem 4rem;
}



